@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800&family=PT+Sans+Narrow:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
       background-color: black;
       margin: 0;
}

/* Top Header */
.header {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       flex-wrap: nowrap;
       margin: 5px; 
       padding-top: 8px;
}

.left {
       display: flex;
}

.right {
       display: flex-end;
       padding-right: 10px;       
}

#search__icon {
       padding-right: 20px;
}

#yname {
       color: white;
       font-family: 'Barlow Condensed', sans-serif;
       font-size: 24px;
       font-weight: 400;
       letter-spacing: -.06em;
       padding-left: 2px
}

/*  Second Header */
.header2 {
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       gap: 30px;
       margin-top: 20px;
       justify-content: space-evenly;
}

.navbar {
       display: flex;       
}

#compass {
       margin-left: 20px;
       display: flex;
}

.nav__btn {
       display: flex-end;      
}

#bar__btn1 {
	background-color:#ffffff;
	border-radius:6px;
	cursor:pointer;
	color:#000000;
	font-family: 'Roboto', sans-serif;
	font-size:15px;
	padding: 6px 18px;
       
}

#bar__btn2 {
	background-color:#000000;
	border-radius:6px;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Roboto', sans-serif;
	font-size:15px;
	padding:6px 16px;
       margin-right: 2px;
}

/* 1st YouTube Video */
.youtube__vid {
       display: flex;
       
}

.yt__banner {
       display: flex;
      margin-top: 20px;
}

.video__description {
       display: flex;
}

#video__title {
       color: #ffffff;
}

#thumbnails {
       border-radius: 50%;
}

#ytuber__name {

}

#view__subs {

}