@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800&family=PT+Sans+Narrow:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
       background-color: white;     
}

.body{
       margin: 0;
       padding: 0;
}

/* Light Mode */

@media (prefers-color-scheme: light) {
       * {
              background-color: #FFFFFF;
       }

       .yt__header {
              box-shadow: 0px 13px 10px -15px #3e3d3d;
              margin: 0;              
       }

       #yname {
              color: #0F0F0F;
              font-family: 'Barlow Condensed', sans-serif;
              font-size: 24px;
              font-weight: 400;
              letter-spacing: -.06em;
              padding-left: 2px
       }

       #bar__btn1 {
              background-color: rgb(92, 89, 89);
              border-radius:6px;
              color:#FFFFFF;
              font-family: 'Roboto', sans-serif;
              font-size:15px;
              padding: 6px 18px;
              text-decoration: none;
       }
       
       #bar__btn2 {
              background-color:#FFFFFF;
              border-radius:6px;
              color:#0F0F0F;
              font-family: 'Roboto', sans-serif;
              font-size:15px;
              padding:6px 16px;
              margin-right: 2px;
              text-decoration: none;
       }

       .ytuber__nav {
              border-bottom: #dedede solid 5px;
       }
       
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
       * {
              background-color: #0F0F0F;
       }

       .yt__header {             
              color: #FFFFFF;
       }

       .header2 {
              color: #FFFFFF;
       }

       .yt__footer {
               color: #FFFFFF;
       }

       .fa-ellipsis-vertical {
              color: #FFFFFF;
       }

       #img__icon {
              fill: #FFFFFF;
       }

       #video__title {
                     color: #FFFFFF;
       }

       #ytuber__name {
              color: #FFFFFF;
       }

       #view__subs {
              color: rgb(209, 206, 206);
       }

       #bar__btn1 {
              background-color:#e1e4ea;
              border-radius:6px;
              color:#0F0F0F;
              font-family: 'Roboto', sans-serif;
              font-size:15px;
              padding: 6px 18px;
              text-decoration: none;     
       }
       
       #bar__btn2 {
              background-color:#0F0F0F;
              border-radius:6px;
              color:#FFFFFF;
              font-family: 'Roboto', sans-serif;
              font-size:15px;
              padding:6px 16px;
              margin-right: 2px;
              text-decoration: none;
       }

       h3 {
              color: #FFFFFF;
       }

       .ytuber__nav {
              border-bottom: #3e3d3d solid 5px;
       }
       .bar__footer {
              color: #FFFFFF;
       }
}

/* -----------Content------------- */


/* Navbar Header */
#navbar {
       position: fixed;
       top: 0;
       width: 100%;
       transition: top 0.5s;
       height: 150px;
}

.yt__header {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       flex-wrap: nowrap;
       padding: 0px 15px 0px 15px;
       align-items: center;
}

.left {
       display: flex;
       align-items: center;
}

.right {
       display: flex-end;
       padding-right: 10px;
       justify-content: center;       
}

.fa-magnifying-glass {
       padding-right: 20px;

}

#yname {
       display: flex;
       font-family: 'Barlow Condensed', sans-serif;
       font-size: 24px;
       font-weight: 400;
       letter-spacing: -.06em;
       padding-left: 2px
}

/*  Second Header */
.header2 {
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       margin-top: 20px;
       justify-content: space-between;
       align-items: center;
       padding-left: 20px;
}

.navbar2 {
       display: flex;       
}

#compass {
       padding-left: 20px;
       display: flex;
}

.nav__btn {
       display: flex-end;      
}

#bar__btn2 {
       
}


/* 1st YouTube Video */
.youtube__vid {
       display: flex;       
}

.yt__banner {
       display: flex;
       margin-top: 145px;
}

#ytuber {
       object-fit: cover;
       width: 100%;
}

.ytuber__nav {
       display: flex;
       padding: 5px 20px 5px 20px;
       justify-content:space-evenly;
       align-items: center;
}

.yt__left {
       display: flex;
       align-items: center;
}

#thumbnails {
       border-radius: 50%;
       display: flex;
       align-items: center;
       padding-bottom: 10px;
       padding-top: 10px;
}

.yt__info { 
       flex-wrap: wrap;
       display: flex;
       align-content: center;
       padding-left: 10px;
       padding-right: 10px;
       margin: 0;
       align-items: center;
}

#video__title {
       font-family: 'arial', sans-serif;
       font-weight: 700;
       font-size: 14px;
       display: flex;
       margin: 0;
       padding-top: 10px;
       padding-left: 5px;
       text-wrap: wrap;
}

#view__subs {
       display: flex;
       font-family: 'arial', sans-serif;
       font-size: 12px;
       font-weight: 400;
       color: #696666;
       margin: 2px 0px;
       padding-bottom: 10px;
       padding-left: 5px;
}

.fa-ellipsis-vertical {
       display: flex;
       
}

/* -------Shorts -------- */
.yt__shorts {
       display: flex;
       align-items: center;
       padding: 15px;
}
#red__shorts {
      padding-right: 10px;
}

h3 {
       font-family: Arial, Helvetica, sans-serif;
       font-weight: 300;
       font-size: 16px;
}

.video_shorts {
       display: flex;
}

.iframe {
       display: flex;
       justify-content: flex-start;
       gap: .5rem;
       padding-left: 15px;
       padding-bottom: 15px;
}

.yt__banner2 {
       display: flex;
       margin-top: 10px;
}

/* ------- Footer ------ */

footer {
       padding: 20px 5px 20px 5px;
       width: 100%; 
       flex: 1;      
}

.footer__container {
       
   }

.yt__footer {       
      display: flex;
      align-items: center;
      justify-content: space-around;
	
}

.bar__footer {
       font-family: Arial, Helvetica, sans-serif;
       font-size: 11px;
       font-weight: 300;
       display: flex;
       align-items: center;
       justify-content: space-around;
}





 
  
